body {
    text-align: center;
    font-family: 'Hanalei Fill', cursive;
    color: greenyellow;
    font-size: 50px;
}

#apps {
    background-color: azure;
}

#games {
    background-color: blanchedalmond;
}

#chatbot {
    background-color: crimson;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

img {
    transition: transform 0.2s
}

img:hover {
    transform: scale(0.9)
}
#my_carousel {
    background-color: cornflowerblue;
}
#my_carousel img {
    height: 300px;
    margin-top: 30px;
}
.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15ppx;
    color: darkmagenta;
    font-size: 20px;
}