nav{
    position: sticky;
    top:0 px;
    z-index:99999;
}
body{
    text-align: center;
}
.img-responsive {
    width: 20%;
    height: 20%;
}
.img {
    width:50%;
    height:25%;
  margin-bottom: 10 px;
    margin-top: 10 px;
}